<div class="row">

    <div class="col-md-4 col-sm-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Usuarios</h4>
                <div class="table-responsive">

                    <table class="table table-hover" *ngIf="usuarios.length>0">
                        <tbody>

                            <tr *ngFor="let usuario of usuarios" class="pointer" [routerLink]="['/usuarios']">
                                <td>

                                    <img class="width50 img-circle" [src]="usuario.img |
                                        imagen:'usuario'" alt="Imagen usuario">
                                </td>
                                <td> {{usuario.nombre}} </td>

                            </tr>
                        </tbody>

                    </table>

                </div>
                <div class="alert alert-info" *ngIf="usuarios.length===0">
                    <small>No hay registros</small>
                </div>


            </div>
        </div>
    </div>


    <div class="col-md-4 col-sm-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Medicos</h4>
                <div class="table-responsive" *ngIf="medicos.length>0">

                    <table class="table table-hover">

                        <tbody>

                            <tr *ngFor="let medico of medicos" class="pointer" [routerLink]="['/medico', medico._id]">
                                <td>
                                    <img class="width50 img-circle" [src]="medico.img |
                                        imagen:'medico'" alt="Imagen médico">
                                </td>
                                <td> {{medico.nombre}} </td>

                            </tr>
                        </tbody>

                    </table>



                </div>

                <div class="alert alert-info" *ngIf="medicos.length===0">
                    <small>No hay registros</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Hospitales</h4>
                <div class="table-responsive" *ngIf="hospitales.length>0">
                    <table class="table table-hover">

                        <tbody>

                            <tr *ngFor="let hospital of hospitales" class="pointer" [routerLink]="['/hospitales']">
                                <td>
                                    <img class="width50 img-circle" [src]="hospital.img |
                                        imagen:'hospital'" alt="Imagen
                                        hospital">
                                </td>
                                <td> {{hospital.nombre}} </td>

                            </tr>
                        </tbody>

                    </table>


                </div>
                <div class="alert alert-info" *ngIf="hospitales.length===0">
                    <small>No hay registros</small>
                </div>

            </div>
        </div>
    </div>


</div>