<div class="row animated fadeIn">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil de usuario</h4>
                <h6 class="card-subtitle">Nombre de usuario</h6>
                <form ngNativeValidator #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre del usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input required [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control" placeholder="Usuario" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo del usuario</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [disabled]="usuario.google" type="email" [ngModel]="usuario.email" name="email" class="form-control" placeholder="Correo" required />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-block btn-success
                        waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Nombre de usuario</h4>
                <h6 class="card-subtitle">Foto de usuario</h6>

                <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" class="img-fluid width150" alt="Imagen usuario" />
                <img *ngIf="imagenTemp" [src]="imagenTemp" class="img-fluid
                    width150" alt="Imagen usuario" />

                <input title="Seleccion una imagen" type="file" (change)="seleccionImagen($event.target.files[0])" />

                <br /><br />
                <button [disabled]="!imagenSubir" (click)="cambiarImagen()" type="button" class="btn btn-block btn-success waves-effect
                    waves-light m-r-10">
                    <i class="fa fa-save"></i>
                    Actualizar foto
                </button>
            </div>
        </div>
    </div>
</div>